@import 'footer.scss';

.features {
  display: flex;
  position: relative;

  &__content {
    margin: auto;
    width: 1140px;
  }

  &__column {
    width: 459px;
  }

  &__subtitle {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    color: #009B4D;
  }

  &__title {
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
  }

  &__advantage-header {
    margin-top: 42px;
    display: flex;
    line-height: 42px;
  }

  &__advantage-title {
    margin: 0;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    color: #3142C6;
  }

  &__advantage-description {
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid #3142C6;
  }

  &__advantage-item {
    display: flex;
    margin-top: 21px;
    padding-bottom: 22px;
    border-bottom: 1px solid #2B292D26;
  }

  &__advantage-item-text {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
  }

  &__bunner {
    position: absolute;
    right: 0;
  }
}


@media screen and (max-width: 399px) {
  .features__bunner {
    display: none;
  }
}

// .features {
//   display: flex;
//   position: relative;

//   &__content {
//     margin: auto;
//     width: 1140px;
//   }

//   &__column {
//     width: 459px;
//   }

//   &__subtitle {
//     margin: 0;
//     font-size: 22px;
//     font-weight: 700;
//     line-height: 34px;
//     letter-spacing: 0px;
//     color: #009B4D;
//   }

//   &__title {
//     margin-bottom: 0;
//     margin-top: 24px;
//     font-size: 56px;
//     font-weight: 700;
//     line-height: 56px;
//     letter-spacing: -0.5px;
//   }

//   &__description {
//     margin-top: 30px;
//     margin-bottom: 0;
//     font-size: 24px;
//     font-weight: 400;
//     line-height: 34px;
//     letter-spacing: 0px;
//   }

//   &__advantage-header {
//     margin-top: 42px;
//     display: flex;
//     line-height: 42px;
//   }

//   &__advantage-title {
//     margin: 0;
//     margin-left: 15px;
//     font-size: 22px;
//     font-weight: 700;
//     line-height: 26px;
//     letter-spacing: 0px;
//     color: #3142C6;
//   }

//   &__advantage-description {
//     justify-content: center;
//     margin-top: 8px;
//     margin-bottom: 0;
//     padding-bottom: 20px;
//     font-size: 18px;
//     line-height: 26px;
//     border-bottom: 3px solid #3142C6;
//   }

//   &__advantage-item {
//     display: flex;
//     margin-top: 21px;
//     padding-bottom: 22px;
//     border-bottom: 1px solid #2B292D26;

//     &-text {
//       margin-left: 15px;
//       font-size: 22px;
//       font-weight: 700;
//       line-height: 26px;
//       letter-spacing: 0px;
//     }
//   }

//   &__bunner {
//     position: absolute;
//     right: 0;
//   }
// }


// @media screen and (max-width: 399px) {
//   .features__bunner {
//     display: none;
//   }
// }