@import "variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  padding-right: 130px;
  margin-top: auto;

  &__description {
    margin-top: 26px;
    line-height: 26px;
    height: 85px;
    width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #2B292D;
    opacity: 0.6;
  }

  &-navigation {
    display: flex;
    margin: 0 auto;
    width: 1140px;
    height: 338px;
  }

  &__icon {
    margin-right: 15px;
    width: 60px;
  }

  &-links {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1140px;
  }

  &__line {
    margin-left: -131px;
    width: 1400px;
    opacity: 0.1;
    border-top: 0.5px solid #2B292D;
  }
}

.about-company {
  margin-top: 44px;
}

.downloads {
  display: flex;
  margin-top: 25px;

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  
  &__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;

  &__title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
  }

  &__list {
    margin: 0;
    margin-top: 18px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #2B292D;
    opacity: 0.6;
  }
}

.terms {
  margin-right: auto;
  line-height: 50px;

  &__item {
    margin-right: 22px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.social-links {
  margin-left: auto;

  &__item {
    margin-left: 20px;
    text-decoration: none;
  }
}


@media screen and (max-width: 399px) {
  .footer {
    padding: 0;

    &-navigation {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      display: block;
      // width: 100%;
    }

    &__icon {
      margin: auto;
    }

    &__description {
      display: none;
    }

    &__line {
      display: none;
    }

    &-line_hr {
      margin-top: 40px;
      border: 1px solid #E3E3E3;
    }

    &-links {
      // margin-top: 493px;
      display: inline-block;
      width: 320px;
    }
  }

  .about-company {
    margin-left: 15px;
    margin-right: 15px;
    width: 290px;
  }

  .logo {
    &-vertical {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__text-vertical {
      margin-top: 20px;
    }

    &__description {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
      opacity: .6;
    }
  }

  .downloads {
    margin-top: 31px;
    padding-left: 14px;
    padding-right: 14px;
    width: 261px;
  }

  .additional-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &__column {
      margin: 15px;
      width: 290px;
    }
  }

  .terms {
    margin: 430px 15px 0 15px;
  }

  .social-links {
    margin-top: 15px;
    margin-bottom: 22px;
  }
}